includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  paths:
    - app
    - routes
    - database
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - '#Access to an undefined property App\\Models\\.*::\$[A-Za-z0-9_]+#'
    - '#Call to an undefined static method App\\Models\\.*::.*#'
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::save\(\)#'
    - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::\$.*#'
    - '#Access to an undefined property Illuminate\\Http\\Request::\$.*#'
    - '#Call to an undefined static method App\\Models\\.*::find\(\)#'
    - '#Call to an undefined static method App\\Models\\.*::where\(\)#'
  excludePaths:
    - %currentWorkingDirectory%/vendor/*
